<%- include('../partials/header') %>

<link rel="stylesheet" href="/stylesheets/indexpage.css">


<div class="container">
  <div class="blogs">
    <table id="list">
      <thead>
        <tr>
          <th>Interesting Blogs</th>
          <th>Published Date</th>
          <th>Get More Info</th>
          <td><a class="button" href="/blogs/new">New Blog</a></td>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% blogs.forEach(function(a) { %>
          <tr>
            <td><%= a.title %></td>
            <td><%= a.publishedDate %></td>
            <td><a class="button" href="/blogs/<%= a._id %>">DETAILS</a></td>
          </tr>
          <% }); %>
        </tbody>
    </table>
  </div>
</div>
  
<%- include('../partials/footer') %>