<%- include('../partials/header') %>

<link rel="stylesheet" href="/stylesheets/indexpage.css">


<div class="container">
  <div class="blogs">
      <h1>Blogs</h1>
      <h1>Date Created</h1>
      <button><a class="button" href="/blogs/new">Write Something Interesting?</a></button>
        <% blogs.forEach(function(a) { %>
          <h1><%= a.title %></h1>
          <h1><%= a.publishedDate %></h1>
          <button><a class="button" href="/blogs/<%= a._id %>">JOIN CONVERSATION</a></button>
          <% }); %>
        </div>
      </div>
  
<%- include('../partials/footer') %>