<%- include('../partials/header') %>

<link rel="stylesheet" href="/stylesheets/showpage.css">
<h1 id="header">Discussion Page</h1>
<div class="container">
<section id="show-page">
  <div class="title">Date Created</div>
  <div class="title">Blog Title</div>
  <div class="title">Topic Category</div>
  <div><%= blog.publishedDate %></div>
  <div><%= blog.title %></div>
  <div><%= blog.topic %></div>
</section>
</div>

<% if (user) { %>
  <div class="add-review-form">
    <form method="POST"
    action="/blogs/<%= blog._id %>/reviews">
    <textarea id="review-text" name="content"></textarea>
  </div>
  <div class="rating">
    <label>Rating:</label>
    <select name="rating">
      <option value="-1">-1 (Dislike)</option>
      <option value="0" selected>0 (No Vote)</option>
      <option value="1">+1 (Like)</option>
    </select>
    <input type="submit" placeholder="value" value="Add Review">
  </div>
</form>
<% } %>

<% if (blog.reviews.length) { %>
  <div class="review-header">
    <h1>User</h1>
    <h1>Date</h1>
    <h1>Like Rating</h1>
    <h1>Delete</h1>
    <h1>Edit?</h1>
  </div>
    <% let sum = 0; %>
    <% blog.reviews.forEach(function(r) { %>
      <% if (r.rating === -1) { %>
        <% sum -= 1 %>
        <% } else if (r.rating === +1) { %>
        <% sum += 1 %>
        <% } else { %>
          <% sum += 0 %>
          <% } %>
        <div class="user-review">
          <h1 class="review-user"><img src="<%= r.userAvatar %>" alt="avatar" referrerpolicy="no-referrer"><%= r.userName %></h1>
          <h1><%= r.createdAt.toLocaleDateString() %></h1>
          <h1><%= r.rating %></h1>
          
          <% if (user?._id.equals(r.user) ) { %>
            <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete Button</button>
            </form>
              <a href="/blogs/<%= r._id %>/reviews/edit">
                <button type="submit">Edit</button>
              </a>
              <% } %>
            </div>
            <h1 class="comment-review">Comment</h1>
            <div class="review"><%= r.content %></div>
        <% }); %>
          <h1 id="like">This post has running total of <%= sum %> likes!</h1>
<% } else { %>
  <h5>It's quiet in here.</h5>
  <h5 id="one">Want to be the first one to start discussion?</h5>
<% } %>


<%- include('../partials/footer') %>