<%- include('../partials/header') %>
<style>
  body {
    background-image: url('https://media.istockphoto.com/photos/climate-change-from-drought-to-green-growth-picture-id1339138376?b=1&k=20&m=1339138376&s=170667a&w=0&h=LkfiOLl4Heo9eBEgrQNfQUr7UJ5Q0Cr0jufF2RXz_uo=');
    background-size: cover;
  }
  a {
    color: lightgreen;
  }
  nav > a:hover:not(.active) {
    color: yellow;
    background-color: green;
    padding: 30px 6px;
  }
  .home:hover:not(.active) {
    background-color: green;
    color: yellow;
    padding: 20px 6px 17px;
  }
  .icon {
    color: yellow;
    outline: 2px solid lightgreen;
  }
  </style>
<table id="list">
  <thead>
    <tr>
      <th>Articles</th>
      <th>Published<br>Date</th>
      <th>Details</th>
      <td><a class="button" href="/articles/new">New Article</a></td>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% articles.forEach(function(a) { %>
      <tr>
        <td><%= a.title %></td>
        <td><%= a.publishedDate %></td>
        <td><a class="button" href="/articles/<%= a._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>